body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 50%;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    justify-content: center;
}

.grid_item{
    display: flex;
    flex-direction: row;
    align-items: flex-start;    
    gap: 10px;
}

header{
    padding-bottom: 40px;
}

section{
    background-color: #111;
    padding: 15px;
    border-radius: 4px;
    width: 400px;
}

p{
    color: #b2b2b2;
}

h1{
    text-align: center;
    font-weight: bold;
}

h2{
    color: #fff;
    font-weight: bold;
}

button{
    border-radius: 4px;
    background-color: #febe01;
    color: #332200;
    padding: 5px;
}
nav{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 10px;
}

nav li{
    padding: 5px 20px;
    background-color: green;
    border-radius: 4px;
    color: #fff;
}

.color_laranja{
    color: #febe01;
}

#logo{
    border-radius: 50%;
    border: 3px solid green;
}


@media screen and (min-width: 769px) and (max-width: 1024px) {

    .grid_item {
        flex-wrap: wrap;
    }

    section{        
        width: 325px;
    }

    nav ul{        
        flex-wrap: wrap;
    }
    
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    nav {
        grid-template-columns: repeat(1, auto);
    }

    nav div{
        justify-content: center;
    }

    .grid-container {
        grid-template-columns: repeat(1, auto);
    }

    .grid_item {
        flex-wrap: wrap;
    }

    section{        
        width: 267px;
    }

    nav ul{        
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    
}

@media screen and (max-width: 480px) {

    nav {
        grid-template-columns: repeat(1, auto);
    }

    nav div{
        justify-content: center;
    }

    .grid-container {
        grid-template-columns: repeat(1, auto);
    }

    .grid_item {
        flex-wrap: wrap;
    }

    section{        
        width: 267px;
    }

    nav ul{        
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    
}