body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 50%;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    justify-content: center;
}

.grid_item{
    display: flex;
    flex-direction: row;
    align-items: flex-start;    
    gap: 10px;
}

section{
    background-color: #111;
    padding: 15px;
    border-radius: 4px;
    width: 400px;
}

p{
    color: #b2b2b2;
}

h1{
    text-align: center;
    font-weight: bold;
}

h2{
    color: #fff;
    font-weight: bold;
}

button{
    border-radius: 4px;
    background-color: #febe01;
    color: #332200;
    padding: 5px;
}

.color_laranja{
    color: #febe01;
}